<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<wicket:head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</wicket:head>
</head>
<body>
	<wicket:panel>
		<div id="wrapper-panel-frame" class="ui-corner-all" style="font-size: 0.8em;">
			<form wicket:id="generalForm">
				<input type="text" wicket:id="combobox" />
				<button wicket:id="button">Ajax Button</button>
				<br />
				<br />
				<div wicket:id="feedback" style="width: 180px;"></div>
			</form>
		</div>
	</wicket:panel>

</body>
</html>





		