<meta charset="utf-8" />
<wicket:extend>

	<h2><wicket:message key="leftMenu.personalData" /></h2>

	<form wicket:id="registrationCredetialsForm">

		<table width="50%" , border="1" , cellspacing="0" , cellpadding="4">
			<tr>
				<td align="right" width="150"><wicket:message key="username" /></td>
				<td><input type="text" wicket:id="login" /></td>
			</tr>
			<tr>
				<td align="right"><wicket:message key="password" /></td>
				<td><input wicket:id="password" type="password" size="20" /></td>
			</tr>
			<tr>
				<td align="right"><wicket:message key="registration.confirmPassword" /></td>
				<td><input wicket:id="confirmPassword" type="password" size="20" /></td>
			</tr>
		</table>
		<br /> <span wicket:id="checkCredentials"><wicket:message key="accept" /></span> <br /> <br />
		<div wicket:id="feedbackCredentials" style="width: 600px;"></div>
	</form>

	<form wicket:id="registrationCustomerForm">

		<table width="50%" , border="1" , cellspacing="0" , cellpadding="4"
			, padding="20px">
			<tr>
				<td align="right" width="150"><wicket:message key="firstName" /></td>
				<td><input type="text" wicket:id="firstName" /></td>
			</tr>
			<tr>
				<td align="right"><wicket:message key="lastName" /></td>
				<td><input type="text" wicket:id="lastName" /></td>
			</tr>
			<tr>
				<td align="right">Email</td>
				<td><input type="email" wicket:id="email" /></td>
			</tr>
			<tr>
				<td align="right"><wicket:message key="birth" /></td>
				<td><input type="text" wicket:id="dateBirth" /></td>
			</tr>

			<tr>

				<div wicket:id="radiogroup">
					<td>
						<h5><wicket:message key="gender" /></h5>
					</td>
					<td>
						<ul class="radioUL">
							<li><input wicket:id="radio1" type="radio" /> <label
								wicket:id="label1">[label]</label></li>

							<li><input wicket:id="radio2" type="radio" /> <label
								wicket:id="label2">[label]</label></li>
						</ul>
					</td>
				</div>
			</tr>

			<tr>
				<td align="right"><wicket:message key="country" /></td>
				<td><input type="text" wicket:id="country" /></td>
			</tr>

			<tr>
				<td align="right"><wicket:message key="city" /></td>
				<td><input type="text" wicket:id="city" /></td>
			</tr>

			<tr>
				<td align="right"><wicket:message key="address" /></td>
				<td><input type="text" wicket:id="address" /></td>
			</tr>

			<tr>
				<td align="right"><wicket:message key="zipcode" /></td>
				<td><input type="text" wicket:id="zipCode" /></td>
			</tr>
			<br />
		</table>

		<span wicket:id="save"></span><br /> <br /> <br />
		<div wicket:id="feedbackCustomer" style="width: 600px;"></div>
	</form>



</wicket:extend>