<html>
<head>
<wicket:head>
	<style>
.form-login {
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 138px;
	font-size: 19px;
}
</style>
</wicket:head>

</head>
<meta charset="utf-8" />
<body>

	<wicket:panel>
		<header>

			<div class="maina wrap">
				<img src="images/avto73.jpg" style="z-index: 2;" alt="">

				<form wicket:id="formFinderAndCart">

					<button wicket:id="toCart"
						style="position: absolute; top: 138px; right: 73px; font-size: 19px;">
						<img wicket:id="cartImage" style="width: 33px;" />
						<wicket:message key="cart" />
					</button>
				</form>

				<div class="form-login">
					<form wicket:id="formLogin">
						<button wicket:id="login">
							<wicket:message key="login" />
						</button>
						<br />
					</form>
				</div>
				<p
					style="position: absolute; top: 20px; right: -84px; color: #676767;">
					<wicket:message key="contactHeader" />
					<span>+375 (29) 5402284</span>
				</p>
				<p style="top: 21px; position: absolute; left: 87px; color: #333;">
					<wicket:message key="workingHours" />
				</p>
			</div>
			<wicket:child />
			<nav>
				<ul class="menu">
					<li><a wicket:id="toHome" class="home"><img
							src="images/home.jpg"></a></li>
					<li><a wicket:id="toNews"><wicket:message key="menu.news" /></a></li>
					<li><a wicket:id="toAboutUs"><wicket:message
								key="menu.about" /></a></li>
					<li><a wicket:id="toShipment"><wicket:message
								key="menu.shipment" /></a></li>
					<li><a wicket:id="toPayment"><wicket:message
								key="menu.payment" /></a></li>
					<li><a wicket:id="toContact"><wicket:message
								key="menu.contact" /></a></li>
					<li><a wicket:id="toCustomerManagerPage"><wicket:message
								key="menu.users" /></a></li>

				</ul>
				<div class="clear"></div>

			</nav>
		</header>
		<div wicket:id="modal" style="height: 500px"></div>

	</wicket:panel>
</body>
</html>
