<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<wicket:head>
	<style>
div.foo-outer {
	margin-bottom: 4px;
	border: 1px dotted black;
	padding-left: 18px;
	background-color: #BBBBBB;
}

div.foo-inner {
	padding: 2px;
	background-color: #FFFFFF;
}
</style>
</wicket:head>
</head>
<body>
	<wicket:panel>
		<div class="foo-outer">
			<div class="foo-inner">
				 <input type="text" wicket:id="Name" /> 
			</div>
		</div>
	</wicket:panel>
</body>
</html>
